<div class="container mt-4">
    <div class="card mb-4">
      <img
        [src]="gameInfo?.thumbnail"
        class="card-img-top"
        alt="Thumbnail"
      />
      <div class="card-body">
        <h2 class="card-title">{{ gameInfo?.title }}</h2>
        <p class="card-text mt-3">
          {{ gameInfo?.shortDescription }}
        </p>
        <p class="text-muted">
          Release Date: <strong>{{ gameInfo?.releaseDate }}</strong>
        </p>
        <a         href="{{ gameInfo?.freetogameProfileUrl }}"         class="btn btn-primary"      >         Play Now       </a>

        <div class="lists">
          <button type="button" class="btn btn-primary" (click)="movingGame('emif', gameInfo?.id)">Play Later</button>
          <button type="button" class="btn btn-primary" (click)="movingGame('qepb', gameInfo?.id)">Currently Playing</button>
          <button type="button" class="btn btn-primary" (click)="movingGame('9ou3', gameInfo?.id)">Played</button>
          <button type="button" class="btn btn-primary" (click)="movingGame('gypq', gameInfo?.id)">Completed</button>
        </div>
      
      </div>
    </div>
  
    <div class="mb-4">
      <h3>Game Description</h3>
      <p>
        {{ gameInfo?.shortDescription }}
      </p>
    </div>
  
    <div class="row mb-4">
      <div class="col-md-6">
        <h3>Details</h3>
        <ul class="list-group">
          <li class="list-group-item">
            <strong>Genre:</strong> {{ gameInfo?.genre }}
          </li>
          <li class="list-group-item">
            <strong>Platform:</strong> {{ gameInfo?.platform }}
          </li>
          <li class="list-group-item">
            <strong>Publisher:</strong> {{ gameInfo?.publisher }}
          </li>
          <li class="list-group-item">
            <strong>Developer:</strong> {{ gameInfo?.developer }}
          </li>
        </ul>
      </div>
      <div class="col-md-6">
<h3>Minimum System Requirements</h3>
      <ul class="list-group">
        <li class="list-group-item">
          <strong>OS:</strong> {{ gameInfo?.minimumSystemRequirements?.os }}
        </li>
        <li class="list-group-item">
          <strong>Processor:</strong> {{ gameInfo?.minimumSystemRequirements?.processor }}
        </li>
        <li class="list-group-item">
          <strong>Memory:</strong> {{ gameInfo?.minimumSystemRequirements?.memory }}
        </li>
        <li class="list-group-item">
          <strong>Graphics:</strong> {{ gameInfo?.minimumSystemRequirements?.graphics }}
        </li>
        <li class="list-group-item">
          <strong>Storage:</strong> {{ gameInfo?.minimumSystemRequirements?.storage }}
        </li>
      </ul>
    </div>
  </div>

    <!-- Iterate through screenshots array -->
    <h3>Screenshots</h3>
    <div
      class="col-md-4"
      *ngFor="let screenshot of gameInfo?.screenshots; trackBy: trackByScreenshotId">
      <img
        [src]="screenshot.image"
        class="img-fluid rounded mb-3"
        alt="Screenshot"
      />
  </div>
  