<h1>User Profile</h1>

<!--mostrar e possibilidade de editar-->
<div>    
    <form action="form" class="form-group">
        <h3 class="form-control">{{user?.name}}</h3>        
        <p class="form-control">{{user?.email}}</p> 
        <img [src]="user?.avatar" class="avatar" alt="avatar"/>
        

        <!-- Mostrar listas do usuário e os gamesIds com thumbnails -->
        <div *ngIf="(user?.lists ?? []).length > 0" class="lists-section">
            <h2>User Lists</h2>
            <div *ngFor="let list of user?.lists" class="list-item">
            <h4>{{ list.name }}</h4>
            <ul>
                <li *ngFor="let gameId of list.gamesIds">
                <!--<img [src]="getThumbnail(gameId)" alt="Game Thumbnail" class="game-thumbnail" />-->
                Game ID: {{ gameId }}
                <button type="button" (click)="removeGame(list.id, gameId)" class="btn btn-primary">Remove</button>
                <!--<button type="button" (click)="removeGameFromListInMemory(list.id, gameId)" class="btn btn-primary">Remove</button>-->
                </li>
            </ul>
            </div>
        </div>

        <button type="button"  (click)="editProfile()" class="btn btn-primary" >Edit Profile</button>
    </form>
</div>



