<h1>Games</h1>
<!--Tutorial on search https://medium.com/@uditgogoi1/search-bar-with-autocomplete-using-angular-5-and-angular-material-c5a77a429da7 -->
<div class="container mt-4">
    
    <!--<div class="mb-4">
        <input 
          type="text" 
          class="form-control" 
          placeholder="Search games..." 
          [(ngModel)]="searchQuery" 
        />
      </div>--->


    <div class="row">
        <div class="column">
        @for (game of games; track game.id){
            <a [routerLink]="'/game-details/' + game.id"><img [src]="game.thumbnail" class="img-thumbnail" alt="..."></a>
            
        }
            
        </div>
    </div>




<!---
<div class="lista">
    @for (game of games; track game.id)
     {<div class="cartao">
        <h3>{{game.title}} 
            
        </h3>
        <img [src]="game.thumbnail" alt = "">
            <p>
                Developer: {{game.developer}}
            </p>
    </div>}
    
</div>-->
