<body>
    

<h1>Games</h1>
<div class="container mt-4">
    <div class="row">
        <div class="column" >
        @for (game of games; track game.id){
            <img [src]="game.thumbnail" class="img-thumbnail" alt="...">
            
        }
            
        </div>
    </div>
</div>
</body>



<!---
<div class="lista">
    @for (game of games; track game.id)
     {<div class="cartao">
        <h3>{{game.title}} 
            
        </h3>
        <img [src]="game.thumbnail" alt = "">
            <p>
                Developer: {{game.developer}}
            </p>
    </div>}
    
</div>-->
